@model IEnumerable<Library.domain.Models.Book>

@{
    ViewData["Title"] = "Index";
}

<h1>Books</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form method="get" style="margin-bottom:15px;">

    <input type="text" name="search" placeholder="Search Title or Author" />

    <input type="text" name="category" placeholder="Category" />

    <select name="availability">
        <option value="">All</option>
        <option value="Available">Available</option>
        <option value="OnLoan">On Loan</option>
    </select>

    <button type="submit">Search</button>

</form>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Title)</th>
            <th>@Html.DisplayNameFor(model => model.Author)</th>
            <th>@Html.DisplayNameFor(model => model.Isbn)</th>
            <th>@Html.DisplayNameFor(model => model.Category)</th>
            <th>Status</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Title</td>
                <td>@item.Author</td>
                <td>@item.Isbn</td>
                <td>@item.Category</td>

    
                <td>
                    @if (item.Loans.Any(l => l.ReturnedDate == null))
                    {
                        <span style="color:red;">On Loan</span>
                    }
                    else
                    {
                        <span style="color:green;">Available</span>
                    }
                </td>

                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>