@model IEnumerable<Library.domain.Models.Loan>

@{
    ViewData["Title"] = "Loans";
}

<h1>Loans</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Book</th>
            <th>Member</th>
            <th>Loan Date</th>
            <th>Due Date</th>
            <th>Returned Date</th>
            <th>Status</th> 
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr class="@(item.DueDate < DateTime.Now && item.ReturnedDate == null ? "table-danger" : "")">

                <td>@item.Book.Title</td>
                <td>@item.Member.FullName</td>
                <td>@item.LoanDate</td>
                <td>@item.DueDate</td>
                <td>@item.ReturnedDate</td>

                
                <td>
                    @if (item.ReturnedDate == null)
                    {
                        if (item.DueDate < DateTime.Now)
                        {
                            <span style="color:red; font-weight:bold;">🔴 Overdue</span>
                        }
                        else
                        {
                            <span style="color:orange;">On Loan</span>
                        }
                    }
                    else
                    {
                        <span style="color:green;">Returned</span>
                    }
                </td>

                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>

                    @if (item.ReturnedDate == null)
                    {
                        <span> | </span>
                        <a asp-action="Return" asp-route-id="@item.Id">Return</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>